datos/tablaDes.dtd

<!ELEMENT agencia (viaje+)>
<!ELEMENT viaje (destino, pais, precio, duracion, fechaSalida, descripcion, serviciosIncluidos)>
<!ATTLIST viaje 
          id ID #REQUIRED
          disponible (true|false) "true">

<!ELEMENT destino (#PCDATA)>
<!ATTLIST destino destacado (true|false) #IMPLIED>

<!ELEMENT pais (#PCDATA)>

<!ELEMENT precio (#PCDATA)>
<!ATTLIST precio moneda CDATA #FIXED "EUR">

<!ELEMENT duracion EMPTY>
<!ATTLIST duracion 
          dias CDATA #REQUIRED
          noches CDATA #REQUIRED>

<!ELEMENT fechaSalida (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>

<!ELEMENT serviciosIncluidos (servicio*)>
<!ELEMENT servicio (#PCDATA)>
